*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.App{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

.page{
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: margin-left 1s;
}

.page-with-navbar{
	margin-left: 15%;
}

@media only screen and (max-width: 768px){
	.page-with-navbar{
		width: 100%;
		margin-left: 0;
	}

}

.font-face-gm {
	font-family: "Montserrat";
   }

@font-face {
	font-family: 'Montserrat-SemiBold';
	src: local('Montserrat-SemiBold'), url(../assets/fonts/montserrat-v24/Montserrat-SemiBold.ttf) format('ttf');
  }
  
  @font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'), url(../assets/fonts/montserrat-v24/Montserrat-VariableFont_wght.ttf) format('ttf');
  }

h1 {
    font-size: 50px !important;
	font-family: Montserrat;
}

h2 {
    font-size: 38px !important;
	font-family: Montserrat;
}

h3 {
    font-size: 28px;
    font-weight: 600 !important;
}

h4 {
    font-size: 20px !important;
	font-weight: 600 !important;
	font-family: Montserrat;
}

h5 {
    font-size: 16px !important;
	font-family: Montserrat;
}

p {
    font-size: 14px !important;
	font-family: Montserrat;
}